html {
    margin: 0;
    padding: 0;
}

body {
    background: url("bg.png") repeat left top #323232;
    color: #AAA;
    font-family: Arial,sans-serif;
    margin: 0;
    padding: 0;
    text-shadow: 0 2px 2px #111;
}

a {
    color: #DD7700;
    text-decoration: none;
}

a:hover {
    color: #BB5500;
}

hr {
    border: 0; height: 1px;
    width: 80%
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));

    margin: 1em;
}

code {
    font-family: DejaVu Sans Mono,monospace;
    font-size: 0.85em;
    color: #118811;
}

img {
    max-width: 100%;
    height: auto;
}

table, td, th {
    border: 0; /* reset stupid border=1 */
}

table {
    width: 100%
    border: 2px solid black;
}

th {
    background: #202023;
}

td, th {
    padding: 0.2em;
    margin: 0;
}

table caption {
    margin: 0.5em;
}

tbody tr:nth-child(even) {
    background: #303030;
}

tbody tr:nth-child(odd) {
    background: #353535;
}


input {
    background: none repeat scroll 0 0 #555;
    border: medium none;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5) inset;
    padding: 4px 7px;
    transition: width 0.7s ease 0s;
}

#search {
    display: none
}

/* reset webkit search input styles */
input[type=search] {
	-webkit-appearance: none;
	outline: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
	display: none;
}

.rss-link {
    background: url("rss.png") no-repeat left center;
    padding-left: 20px;
}

.art-foot {
    font-size: 0.8em
}

.headline p.datetag {
    font-size: 0.8em;
}

/* Pygments highlighting classes */

.code {
    padding: 0;
    margin: 0;
    background-color: #242424;
    overflow-x: auto
}

.code pre {
    font-family: DejaVu Sans Mono,monospace;
    font-size: 0.75em;
    padding: 0;
    margin: 0
}

.code .lineno {
    color: #857b6f;
    background-color: #121212;
    padding-left: 2px;
    padding-right: 2px
}

.code .hll { background-color: #ffffcc }
.code .c { color: #99968b; font-style: italic} /* Comment */
.code .err { color: #dddddd} /* Error */
.code .g { color: #dddddd } /* Generic */
.code .k { color: #87afff } /* Keyword */
.code .l { color: #dddddd } /* Literal */
.code .n { color: #dddddd } /* Name */
.code .o { color: #dddddd } /* Operator */
.code .x { color: #dddddd } /* Other */
.code .p { color: #dddddd } /* Punctuation */
.code .cm { color: #99968b; font-style: italic} /* Comment.Multiline */
.code .cp { color: #e5786d } /* Comment.Preproc */
.code .c1 { color: #99968b; font-style: italic} /* Comment.Single */
.code .cs { color: #99968b; font-style: italic} /* Comment.Special */
.code .gd { color: #dddddd } /* Generic.Deleted */
.code .ge { color: #dddddd } /* Generic.Emph */
.code .gr { color: #dddddd } /* Generic.Error */
.code .gh { color: #f6f3e8; font-weight: bold} /* Generic.Heading */
.code .gi { color: #dddddd } /* Generic.Inserted */
.code .go { color: #888888 } /* Generic.Output */
.code .gp { color: #dddddd } /* Generic.Prompt */
.code .gs { color: #dddddd } /* Generic.Strong */
.code .gu { color: #f6f3e8; font-weight: bold} /* Generic.Subheading */
.code .gt { color: #dddddd } /* Generic.Traceback */
.code .kc { color: #87afff } /* Keyword.Constant */
.code .kd { color: #87afff } /* Keyword.Declaration */
.code .kn { color: #87afff } /* Keyword.Namespace */
.code .kp { color: #87afff } /* Keyword.Pseudo */
.code .kr { color: #87afff } /* Keyword.Reserved */
.code .kt { color: #caeb82 } /* Keyword.Type */
.code .ld { color: #dddddd } /* Literal.Date */
.code .m { color: #e5786d } /* Literal.Number */
.code .s { color: #95e454; font-style: italic} /* Literal.String */
.code .na { color: #caeb82 } /* Name.Attribute */
.code .nb { color: #dddddd } /* Name.Builtin */
.code .nc { color: #dddddd } /* Name.Class */
.code .no { color: #e5786d } /* Name.Constant */
.code .nd { color: #dddddd } /* Name.Decorator */
.code .ni { color: #ffdead } /* Name.Entity */
.code .ne { color: #dddddd } /* Name.Exception */
.code .nf { color: #caeb82 } /* Name.Function */
.code .nl { color: #dddddd } /* Name.Label */
.code .nn { color: #dddddd } /* Name.Namespace */
.code .nx { color: #dddddd } /* Name.Other */
.code .py { color: #dddddd } /* Name.Property */
.code .nt { color: #87afff } /* Name.Tag */
.code .nv { color: #caeb82 } /* Name.Variable */
.code .ow { color: #dddddd } /* Operator.Word */
.code .w { color: #dddddd } /* Text.Whitespace */
.code .mf { color: #e5786d } /* Literal.Number.Float */
.code .mh { color: #e5786d } /* Literal.Number.Hex */
.code .mi { color: #e5786d } /* Literal.Number.Integer */
.code .mo { color: #e5786d } /* Literal.Number.Oct */
.code .sb { color: #95e454; font-style: italic } /* Literal.String.Backtick */
.code .sc { color: #95e454; font-style: italic } /* Literal.String.Char */
.code .sd { color: #95e454; font-style: italic } /* Literal.String.Doc */
.code .s2 { color: #95e454; font-style: italic } /* Literal.String.Double */
.code .se { color: #95e454; font-style: italic } /* Literal.String.Escape */
.code .sh { color: #95e454; font-style: italic } /* Literal.String.Heredoc */
.code .si { color: #95e454; font-style: italic } /* Literal.String.Interpol */
.code .sx { color: #95e454; font-style: italic } /* Literal.String.Other */
.code .sr { color: #95e454; font-style: italic } /* Literal.String.Regex */
.code .s1 { color: #95e454; font-style: italic } /* Literal.String.Single */
.code .ss { color: #95e454; font-style: italic } /* Literal.String.Symbol */
.code .bp { color: #dddddd } /* Name.Builtin.Pseudo */
.code .vc { color: #caeb82 } /* Name.Variable.Class */
.code .vg { color: #caeb82 } /* Name.Variable.Global */
.code .vi { color: #caeb82 } /* Name.Variable.Instance */
.code .il { color: #e5786d } /* Literal.Number.Integer.Long */

#wrapper {
    background: url("noise.png") repeat scroll left top #202020;
    width: 900px;
    margin: 0 auto;
    padding: 0;
    margin-top: 1em;
    margin-bottom: 1em;
    box-shadow: 0 0 15px #000000;
}

#header {
    margin: 0;
    padding: 0.1em 0 0 1em;
    font-size: 1.4em;
}

#header a {
    color: #CCC;
}

#header a:hover {
    color: #DDD;
}

article {
    background: url("noise_light.png") repeat scroll left top #292929;
    width: 600px;
    padding: 1em;
    float: left;
    border-right: 1px solid #333;
    /* border-bottom: 1px solid #333; */
}

input, time, article h1, article h2, article h3, article h4, article h5, article h6,
aside h1, aside h2, aside h3, aside h4, aside h5, aside h6 {
    color: #CCC;
}

header.title h1 {
    font-size: 1.8em;
}

aside {
    float: right;
    width: 230px;
    padding-right: 1em;
}

footer {
    clear: both;
    text-align: center;
    padding: 0.4em;
    color: #333;

    background: linear-gradient(#252525, #111111, #000000) repeat scroll 0 0 transparent;
    border-bottom: 1px solid #000000;
    border-top: 1px solid #333;
}

.figure {
    margin: 0 auto 2em;
    padding: 5px;
    text-align: center;
}

.figure p {
    font-size: 0.9em;
}

.figure img {
    border: 2px solid black;
}

.image-left {
    float: left;
    padding: 0;
    margin: 0;
    margin-right: 1.5em;
}

.nav {
    position: relative;
    padding: 0.6em 0 0.4em 0.6em;
    border-bottom: 1px solid #333;
    border-top: 1px solid #333;
    background: linear-gradient(#252525, #111111, #000000) repeat scroll 0 0 transparent;
    border-bottom: 1px solid #000000;
    border-top: 1px solid #333;
}
.nav ul {
    margin: 0;
    padding: 0;
}
.nav li {
    margin: 0 5px 5px 0;
    padding: 0;
    list-style: none;
    display: inline-block;
}
.nav a {
    padding: 3px 12px;
    text-decoration: none;
    color: #999;
    line-height: 100%;
}
.nav a:hover {
    color: #BBB;
}

.nav form {
    display: inline;
}

.nav .current a {
    color: #fff;
}

.tag00 { font-size: 0.7em }
.tag01 { font-size: 0.75em }
.tag02 { font-size: 0.9em }
.tag03 { font-size: 1em }
.tag04 { font-size: 1.1em }
.tag05 { font-size: 1.2em }
.tag06 { font-size: 1.4em }
.tag07 { font-size: 1.6em }
.tag08 { font-size: 1.8em }
.tag09 { font-size: 2em }

@media screen and (max-width: 900px) {

    #wrapper {
        width: 100%;
        margin: 0;
    }

    article {
        width: 60%;
    }

    aside {
        width: 30%;
    }

    aside > section {
        padding: 2% 2%;
    }
}

@media screen and (max-width: 600px) {

    #wrapper {
        width: 100%;
        margin: 0;
    }

    #header {
        height: auto;
    }

    .image-left {
        float: none;
    }

    /*
     * Uncomment this to get nice looking vertical menu with icons.
     * The only thing is, that you have to manage it somehow on mobile devices
     * with the touch screen, since there is no mouse-over thing :).
     */

    /* #main-nav {
        position: static;
    }

    .nav {
        position: relative;
        min-height: 40px;
    }

    .nav ul {
        width: 96%;
        padding: 5px 0;
        position: absolute;
        top: 0;
        left: 0;
        background: url(icon-menu.png) no-repeat 10px 11px;
    }
    .nav li {
        display: none;
        margin: 0;
    }
    .nav .current {
        display: block;
    }
    .nav a, .nav form {
        display: block;
        padding: 5px 5px 5px 32px;
        text-align: left;
    }
    .nav .current a {
        background: none;
        color: #666;
    }

    .nav ul:hover {
        background-image: none;
    }
    .nav ul:hover li {
        display: block;
    }
    .nav ul:hover .current {
        background: url(icon-check.png) no-repeat 10px 7px;
    }

    .nav.right ul {
        left: auto;
        right: 0;
    }

    .nav.center ul {
        left: 50%;
    } */

    article {
        /* position: absolute; */
        /* top: 10em; */
        width: auto;
        float: none;
        /* margin: 10px 0; */
    }

    aside {
        width: 100%;
        float: none;
        padding-right: 0;
        border-top: 1px solid #333;
    }

}
