<!-- Main HTML template. Basically it is the same across the entire site. -->
<!DOCTYPE html>
<html>
    <head>
        <title>%(title)s%(page_header)s</title>
        <link rel="shortcut icon" href="//%(site_name)s/images/favico.ico">
        <meta charset="utf-8" />

        <link rel="stylesheet" href="css/style.css" type="text/css"
            media="screen">

        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="width=device-width, minimumscale=1.0, 
            maximum-scale=1.0" />
    </head>

    <body>
        <div id="wrapper">

            <header id="header">
                <h1><a href="index.html">%(page_header)s</a></h1>
            </header>

            <nav class="nav">
                <ul id="main-nav">
                    <li class="%(class_index)s"><a href="index.html">Blog</a></li>
                    <li class="%(class_arch)s"><a href="archives.html">Archiwum</a></li>
                    <li class="%(class_about)s"><a href="about.html">O mnie</a></li>
                </ul>
            </nav>

            <article>
                %(header)s
                %(body)s
                %(footer)s
            </article>

            <aside>
                <!-- <section>
                    <h2>Szukaj</h2>
                    <form id="searchform" action="search.html">
                        <input name="q" placeholder="Szukaj…" 
                            type="search">
                    </form>
                </section> -->

                <section>
                    <h2>Etykiety</h2>
                    <p>
                    %(tags)s
                    </p>
                </section>

                <section>
                    <h2>Subskrybuj</h2>
                    <p>
                    <span class="rss-link"> <a 
                            href="rss.xml"
                            title="subscribe via RSS">RSS feed</a></span>
                    </p>
                </section>

            </aside>

            <footer>
                The vimja shrine
            </footer>
        </div>
    </body>
</html>
